<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=" {{url_for('static', filename='home.css') }}"/>
  <title>Casa do Chocolate</title>
  <!--
    YOUTUBE: https://www.youtube.com/c/Sujeitoprogramador/
    BLOG: https://sujeitoprogramador.com
    INSTAGRAM: https://instagram.com/sujeitoprogramador
  -->
</head>
<body>
  
  <div class="wrapper">
    <main>
      <section class="module parallax parallax-1">
        <h1>Casa do Chocolate </h1>
      </section>

      <section class="module content">
        <div class="container">
          <h2>Claro, aqui está uma breve história sobre o chocolate:</h2>
          <p>

            Há muito tempo, em uma terra distante, havia uma tribo que cultuava o cacau como um presente dos deuses. Um dia, um membro da tribo descobriu como transformar as sementes de cacau em uma deliciosa bebida. Logo, o segredo se espalhou pelo mundo, e o chocolate se tornou um tesouro adorado por todas as culturas, unindo pessoas em torno do prazer doce e reconfortante
          </p>
          <p>
             
          </p>          
        </div>
      </section>

      <section class="module parallax parallax-2">
        <h1>Produtos</h1>
      </section>

      <section class="module content">
        <div class="container">
           <p>Aproveite as ofertas de Pascoa !!</p>
           <p>
            <img class="ovos" src="/static/img/ovo_sonho_de_valca.png"  ></img>
            <img class="ovos" src="/static/img/serenata.png"></img>
            <img class="ovos"src="/static/img/ovo_fone_de_ouvido.png"></img>
            <img class="ovos"src="/static/img/dellette.png"></img>
          </p>
          <p>
            <spam>Aproveite todas as ofertas em ate 12 vezes!</spam>
          </p>          
        </div>
      </section>

      <section class="module parallax parallax-3">
        <h1>Venha fazer parte da nossa comunidade!</h1>
      </section>

      <section class="module content">
        <div class="container">
          <h2>Casa do chocolate o melhor pra sua saude!.</h2>
          <a href="/sobre"><p>
            Saiba mais!
          </p></a>
         
        </div>
        <footer>andrecorreiadev &copy</footer>
      </section>

    </main>
  </div>

</body>
</html>
